<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>SpringBoot Tutorial</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <!-- Custom css styles-->
    <link rel="stylesheet" th:href="@{css/style.css}" />

</head>
<div th:fragment="common-scripts">
    <script th:src="@{webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
    <script th:src="@{webjars/popper.js/1.14.3/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</div>
</html>